<!DOCTYPE html>
<html>
<head th:replace="fragments/navigation :: htmlhead">
</head>
<body>

<nav th:replace="fragments/navigation :: bootstrap-navigation"></nav>

<form action="/db/users/edit" method="post">

	<input type="hidden" name="id" th:value="${user.id}" READONLY><br>
	<input type="text" name="name" th:value="${user.name}"><br>
	<input type="text" name="email" th:value="${user.email}"><br>

	<input type="checkbox" name="active" th:checked="${user.active}"><br>

	<input type="submit" name="submit" value="submit">
</form>


</body>
</html>