<!DOCTYPE html>
<html>
<head th:replace="fragments/navigation :: htmlhead">
</head>
<body>


<nav th:replace="fragments/navigation :: bootstrap-navigation"></nav>




<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Active</th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="user: ${users}" th:attr="class=${user.active ? 'table-info' : ''}">

			<td><a 
				th:href="@{/db/users/{id}(id=${user.id})}" 
				th:text="${user.id}"></a>
			</td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.active ? 'Active' : 'Inactive'}"></td>
			<td>
				<a class="btn btn-danger"
				th:href="@{/db/users/delete?id={id}(id=${user.id})}"
				data-bs-toggle="tooltip" data-bs-placement="top"
				title="delete"
				><i class="fa-solid fa-trash"></i></a>

				<a class="btn btn-success"
				th:href="@{/db/users/edit?id={id}(id=${user.id})}"
				data-bs-toggle="tooltip" data-bs-placement="top"
				title="edit"
				><i class="fa-solid fa-user-pen"></i></a>
			</td>			
		</tr>
	
	</tbody>
	

</table>


<script>
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
	  return new bootstrap.Tooltip(tooltipTriggerEl)
	})
</script>
</body>
</html>