<!DOCTYPE html>
<html>
<head th:replace="fragments/navigation :: htmlhead">
</head>
<body>

	<nav th:replace="fragments/navigation :: bootstrap-navigation"></nav>

	<div class="container">

		<div class="row">

			<h1 th:text="${title}"></h1>


		</div>
		<div class="row">
			<form action="/db/users/doadd" method="post">

				<label for="name" class="form-label">Name</label>
				<input type="text" class="form-control" name="name" placeholder="Enter your name">
				
				<label for="email" class="form-label">Email</label>
				<input type="text" class="form-control" name="email" placeholder="Enter your email">
				
				<label for="active" class="form-check-label">Active</label>
				<input type="checkbox" class="form-check-input" name="active">
				
				<br>
				<input type="submit" class="btn btn-primary" name="submit" value="submit">

			</form>


		</div>

	</div>
</body>
</html>