<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
	integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/db/users"><i class="fa fa-users fa-3x"></i></a>
			
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a th:attr="class=${title == 'User List' ? 'nav-link active' : 'nav-link'}"
							aria-current="page" href="/db/users">
							Home
						</a>
					</li>
					<li class="nav-item">
						<a th:attr="class=${title == 'Add User' ? 'nav-link active' : 'nav-link'}" href="/db/users/add">
							Add User
						</a>
					</li>
					<li class="nav-item">
						<a th:attr="class=${title == 'About' ? 'nav-link active' : 'nav-link'}" href="/about">
							About
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<h1>User Manager</h1>
	<table id="tblUsers" class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Active</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

		<label for="name" class="form-label">Id</label>
		<input type="text" class="form-control" id="txtId" name="id" placeholder="Enter id">

		<label for="name" class="form-label">Name</label>
		<input type="text" class="form-control" id="txtName" name="name" placeholder="Enter your name">
		
		<label for="email" class="form-label">Email</label>
		<input type="text" class="form-control" id="txtEmail" name="email" placeholder="Enter your email">
		
		<label for="active" class="form-check-label">Active</label>
		<input type="checkbox" id="chkActive" class="form-check-input" name="active">
				
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="btnSave" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

	
<script>

var myModal;


$(document).ready(function() {
	$.getJSON("/api/users", function(data) {

		for (var j=0; j<data.length; j++) {
			
			$("#tblUsers tbody")
				.append(`<tr id="tr_${data[j].id}">
							<td>
								<button class="btn btn-info btnInfo" id="btnInfo_${data[j].id}">
									<i class="fa-solid fa-info"></i>
								</button> ${data[j].id}
							</td>
							<td>${data[j].name}</td>
							<td>${data[j].email}</td>
							<td>${data[j].active}</td>
							<td>
								<button id="btnDelete_${data[j].id}" class="btn btn-danger btnDelete">Delete</button>
								<button id="btnEdit_${data[j].id}" class="btn btn-success btnEdit">Edit</button>
							</td>
						</tr>`);		
		}
	});
	
	$(document).on("click", "#btnSave", function() {
		
		// read the values from the controls
		var user = {
			id: $('#txtId').val(), 
			name: $('#txtName').val(), 
			email: $('#txtEmail').val(), 
			active: $('#chkActive').prop("checked")
		}
		
		console.log(user);

		// make an ajax call to update
		$.ajax({
			method: "put", 
			url: `/api/users/${user.id}`, 
			
			data: JSON.stringify(user), 
			contentType: "application/json", 
			
			success: function() {
				
				// update the ui
				$(`#tr_${user.id} td:nth-child(2)`).html(user.name);
				$(`#tr_${user.id} td:nth-child(3)`).html(user.email);
				$(`#tr_${user.id} td:nth-child(4)`).html(user.active ? "true" : "false");
				
				myModal.hide();
			}, 
			
			error: function(error) {
				alert(error);
				myModal.hide();
			}
		})
		
		// hide the dialog
		
		
	});
	
	$(document).on("click", ".btnInfo, .btnEdit", function(e) { 
		
		var buttonId = e.currentTarget.id;
		var pieces = buttonId.split("_");
		var userId = pieces[1];
		
		var isEdit = pieces[0] == "btnEdit";
		
		if (isEdit) {
			$('#exampleModalLabel').html("Edit User");
			$('#btnSave').show();
		} else {
			$('#exampleModalLabel').html("User Info");
			$('#btnSave').hide();
		}
		
		$.getJSON(`/api/users/${userId}`, function(user) {
			
			// populate the controls in the dialog
			$('#txtId').val(user.id);
			$('#txtName').val(user.name);
			$('#txtEmail').val(user.email);
			$('#chkActive').attr("checked", user.active);
			
			var options = {
					
			};
			
			myModal = new bootstrap.Modal(document.getElementById('exampleModal'), options);
			
			myModal.show();
			
		})
	
	});
	
	
	
	$(document).on("click", ".btnDelete",  function(e) {
		
		var buttonId = e.currentTarget.id;
		var pieces = buttonId.split("_");
		var userId = pieces[1];
		
		if (confirm("Are you sure you want to delete user " + userId)) {
			// make an ajax call to delete this user
			$.ajax({
				method: "delete", 
				url: `/api/users/${userId}`, 
				
				success: function() {
					$(`#tr_${userId}`).remove();
					alert("user deleted");
				}, 
				
				error: function(error) {
					alert("error - " + error);
				}
				
			})
			
			
			
			
		} else {
			// alert("cancel");
		}
		
		
		
	});

	
});

//	 make an ajax call to the restful web service

//   jQuery

// JavaScript - runs in the browser


	
</script>
</body>
</html>